@page
  

<div class="container p-3 border backgroundWhite container">
    <div class="row pt-4">
        <div class="col-6">
            <h4 class="text-primary"> Users  List </h4>
        </div>
        <div class="col-6 text-end">
            <a asp-page ="/Account/Register" class="btn-primary btn" > <i class="fas fa-plus"></i> Create New User </a>

        </div>
       
        <br />
   
        <table id="DT_load" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                   
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>


<div>
    <a asp-page="../../Index">Back to Apps Home</a>
</div>


@section Scripts{
<script src="~/js/user.js"></script>
    }
