@page
@model ASM.Pages.Admin.AppsOperate.DeleteModel

<form method="post">
    <div class="border-bottom p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3"> Delete @Model.App.AppName Application</h2>
            <input hidden asp-for="App.Id" />
            <hr />
        </div>
      
        <div class="mb-3">
            <label asp-for="App.AppID"></label>
            <input asp-for="App.AppID" disabled class="form-control" />
           
        </div>
        <div class="mb-3">
            <label asp-for="App.AppName"></label>
            <input asp-for="App.AppName" disabled class="form-control" />
            
        </div>
        <div class="mb-3">
            <label asp-for="App.StartDate"></label>
            <input asp-for="App.StartDate" disabled class="form-control" />
             
        </div>
        <div class="mb-3">
            <label asp-for="App.DeveloperId"></label>
            <input asp-for="App.DeveloperId"  disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="App.AppUrl"></label>
            <input asp-for="App.AppUrl"  disabled class="form-control" />
        </div>

        <button type="submit" class="btn btn-danger" style="width:150px;"> Delete </button>
        <a asp-page="Index" class="btn btn-secondary"> Back to List </a>
    </div>

</form>
